<nav class="navbar">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a
                class="nav-link"
                routerLink="/"
                routerLinkActive="bg-warning"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Home
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                routerLink="/videos"
                routerLinkActive="bg-warning"
            >
                Videos <span class="badge badge-dark">(Eager)</span>
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                routerLink="/users"
                routerLinkActive="bg-warning"
            >
                Users <span class="badge badge-dark">(Preloading)</span>
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                routerLink="/photos"
                routerLinkActive="bg-warning"
            >
                Photos <span class="badge badge-dark">(Lazy)</span>
            </a>
        </li>
    </ul>
</nav>
